<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} | %-5p | [%thread] %logger{5}:%L - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE-ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${application.home:-.}/log/babloz.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <append>true</append>
        <encoder>
            <pattern>%date [%level] from %logger in %thread - %message%n%xException</pattern>
        </encoder>
    </appender>

    <logger name="com.memorynotfound" level="TRACE"/>

    <logger name="ru.barabo" level="error"
            additivity="false">
        <!--<appender-ref ref="FILE_SAVE" />-->
        <appender-ref ref="STDOUT" />
    </logger>

    <!--<root level="INFO">-->
        <!--<appender-ref ref="STDOUT" />-->
        <!--<appender-ref ref="FILE_SAVE" />-->
    <!--</root>-->

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE-ERROR" />
    </root>

    <root level="ERROR">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE-ERROR" />
    </root>

</configuration>